<div style="padding: 80px" class="card-form" >
    <form >
    <mat-card>
    
    <mat-form-field appearance="outline" >
        <mat-label >Id</mat-label>
        
        <input matInput type="number" placeholder="0" 
        [value]="userItem.id" [readonly]="isReadOnly()">
        
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [value]="userItem.nome" [readonly]="isReadOnly()">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Cognome</mat-label>
        <input matInput [value]="userItem.cognome" [readonly]="isReadOnly()">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Data Di Nascita</mat-label>
        <input matInput [value]="userItem.dataNascita" [readonly]="isReadOnly()">
    </mat-form-field>
    
    
    
    </mat-card>
    </form>  
    <button mat-raised-button color="primary" type="submit" (click)="insertUtente()" *ngIf="isReadOnlyBott()">Conferma</button>
    <button mat-raised-button color="secondary" [routerLink]="['/list']">Indietro</button>
</div>
