/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-bar{

        background-color: #339900;
        color: black;
        --mdc-snackbar-container-color: var(--success-color);
        --mat-mdc-snack-bar-button-color: var(--white-color);
        /* -webkit-text-fill-color: black; */
}